Repository kokuwaio/keycloak-event-metrics: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, dockerhub, lint, renovate, yaml, markdown, dockerfile, verify, image, versions

deploy:
  steps:
    maven:
      image: maven:3.9.11-eclipse-temurin-17
      commands: mvn deploy -Pdeploy --settings=.woodpecker/maven/settings.xml
      environment:
        MAVEN_GPG_KEY:
          from_secret: woodpecker_gpg_key
        SONATYPE_ORG_USERNAME:
          from_secret: sonatype_org_username
  ...

dockerhub:
  image: kokuwaio/dockerhub-metadata
  settings:
    repository: kokuwaio/keycloak-event-metrics
    description-short: Provides metrics for Keycloak user/admin events and user/client/session count.
    categories: monitoring-and-observability
    username:
      from_secret: dockerhub_username
    password:
  ...

lint:
  steps:
    renovate:
      image: kokuwaio/renovate-config-validator:41
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - renovate.json
    yaml:
      image: kokuwaio/yamllint:v1.37.1
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - '**/*.yaml'
  ...

renovate:
  image: kokuwaio/renovate-config-validator:41
  depends_on: []

yaml:
  image: kokuwaio/yamllint:v1.37.1
  depends_on: []

markdown:
  image: kokuwaio/markdownlint:0.45.0
  depends_on: []

dockerfile:
  image: kokuwaio/hadolint:v2.12.0
  depends_on: []

verify:
  steps:
    test:
      image: maven:3.9.10-eclipse-temurin-17
      commands: mvn verify --settings=.woodpecker/maven/settings.xml
    image:
      image: kokuwaio/buildctl:v0.23.2
      settings:
        platform:
        - linux/amd64
        - linux/arm64
      when:
        instance: ci.kokuwa.io

image:
  image: kokuwaio/buildctl:v0.23.2
  settings:
    platform:
    - linux/amd64
    - linux/arm64

versions:
  steps:
    test:
      image: maven:3.9.10-eclipse-temurin-17
      commands: mvn verify -Dversion.org.keycloak.test="$KEYCLOAK_VERSION" -P-deploy,-check
      environment:
        MAVEN_ARGS: --batch-mode --color=always --no-transfer-progress --settings=.woodpecker/maven/settings.xml

chore(deps): update dependency net.revelc.code.formatter:formatter-maven-plugin from 2.28.0 to 2.29.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update version.org.keycloak from 26.3.3 to 26.3.4
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update dependency org.apache.maven.plugins:maven-failsafe-plugin from 3.5.3 to 3.5.4
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update dependency org.apache.maven.plugins:maven-surefire-plugin from 3.5.3 to 3.5.4
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to 63de38d
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update busybox:1.37.0-uclibc docker digest to 7d53b90
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update busybox:1.37.0-uclibc docker digest to 633928d
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to 1e608a2
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update dependency org.apache.maven.plugins:maven-javadoc-plugin from 3.11.3 to 3.12.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update dependency org.apache.maven.plugins:maven-compiler-plugin from 3.14.0 to 3.14.1
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update kokuwaio/hadolint docker tag from v2.13.1 to v2.14.0
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update dependency org.sonatype.central:central-publishing-maven-plugin from 0.8.0 to 0.9.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update version.org.keycloak from 26.3.4 to 26.3.5
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update kokuwaio/dockerd docker tag from 28.2.2-rootless to 28.4.0-rootless
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
  .woodpecker/versions.yaml
Due: deploy, lint, yaml, verify, image, versions

chore(deps): update version.org.keycloak from 26.3.5 to 26.4.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update kokuwaio/buildctl docker tag from v0.24.0 to v0.25.0
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to 1000dd1
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to 32be52e
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to 7f1933c
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update kokuwaio/buildctl docker tag from v0.25.0 to v0.25.1
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to bd86bf4
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to e8ce73f
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to 52aefd8
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update busybox:1.37.0-uclibc docker digest to 5ecf7fc
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update busybox:1.37.0-uclibc docker digest to 34f9fe7
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update version.org.keycloak from 26.4.0 to 26.4.1
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to e195e8d
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update version.org.keycloak from 26.4.1 to 26.4.2
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update busybox:1.37.0-uclibc docker digest to 9348f54
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update busybox:1.37.0-uclibc docker digest to 7b5ade1
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update kokuwaio/buildctl docker tag from v0.25.1 to v0.25.2
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update version.org.keycloak from 26.4.2 to 26.4.4
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update dependency org.apache.maven.plugins:maven-release-plugin from 3.1.1 to 3.2.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to bef3df5
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to f8063f3
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to aaa8835
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update version.org.keycloak from 26.4.4 to 26.4.5
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to 3ab5f67
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to 4ce7588
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update dependency org.apache.maven.plugins:maven-jar-plugin from 3.4.2 to 3.5.0
  pom.xml
Due: deploy, verify, image, versions

Path conditions:
  deploy: any of: .woodpecker/deploy.yaml, README.md, Dockerfile, pom.xml, src/main/**
  dockerhub: ((any of: .woodpecker/deploy.yaml, README.md, Dockerfile, pom.xml, src/main/**) and (any of: README.md)) or (any of: .woodpecker/dockerhub.yaml, README.md)
  lint: any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, renovate.json)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.yaml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.md, .markdownlint.yaml)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, Dockerfile)
  verify: any of: .woodpecker/verify.yaml, pom.xml, src/**
  image: any of: .woodpecker/verify.yaml, pom.xml, src/**
  versions: any of: .woodpecker/versions.yaml, pom.xml, src/**
