Repository kokuwaio/keycloak-event-metrics: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, dockerhub, lint, renovate, yaml, markdown, dockerfile, verify, image, versions

deploy:
  steps:
    maven:
      image: maven:3.9.11-eclipse-temurin-17
      commands: mvn deploy -Pdeploy --settings=.woodpecker/maven/settings.xml
      environment:
        MAVEN_GPG_KEY:
          from_secret: woodpecker_gpg_key
        SONATYPE_ORG_USERNAME:
          from_secret: sonatype_org_username
  ...

dockerhub:
  image: kokuwaio/dockerhub-metadata
  settings:
    repository: kokuwaio/keycloak-event-metrics
    description-short: Provides metrics for Keycloak user/admin events and user/client/session count.
    categories: monitoring-and-observability
    username:
      from_secret: dockerhub_username
    password:
  ...

lint:
  steps:
    renovate:
      image: kokuwaio/renovate-config-validator:41
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - renovate.json
    yaml:
      image: kokuwaio/yamllint:v1.37.1
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - '**/*.yaml'
  ...

renovate:
  image: kokuwaio/renovate-config-validator:41
  depends_on: []

yaml:
  image: kokuwaio/yamllint:v1.37.1
  depends_on: []

markdown:
  image: kokuwaio/markdownlint:0.45.0
  depends_on: []

dockerfile:
  image: kokuwaio/hadolint:v2.12.0
  depends_on: []

verify:
  steps:
    test:
      image: maven:3.9.11-eclipse-temurin-17
      commands: mvn verify --settings=.woodpecker/maven/settings.xml
    image:
      image: kokuwaio/buildctl:v0.24.0
      settings:
        platform:
        - linux/amd64
        - linux/arm64
      when:
        instance: ci.kokuwa.io

image:
  image: kokuwaio/buildctl:v0.24.0
  settings:
    platform:
    - linux/amd64
    - linux/arm64

versions:
  steps:
    test:
      image: maven:3.9.10-eclipse-temurin-17
      commands: mvn verify -Dversion.org.keycloak.test="$KEYCLOAK_VERSION" -P-deploy,-check
      environment:
        MAVEN_ARGS: --batch-mode --color=always --no-transfer-progress --settings=.woodpecker/maven/settings.xml

chore(deps): update maven docker tag from 3.9.15-eclipse-temurin-17 to 3.9.16-eclipse-temurin-17
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
  .woodpecker/versions.yaml
  Dockerfile
Due: deploy, lint, yaml, dockerfile, verify, image, versions

chore(deps): update version.org.keycloak from 26.6.1 to 26.6.2
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update busybox:1.37.0-uclibc docker digest to a82b9a5
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update busybox:1.37.0-uclibc docker digest to 348379b
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update busybox docker tag from 1.37.0-uclibc to 1.38.0-uclibc
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update dependency org.apache.maven.plugins:maven-site-plugin from 3.21.0 to 3.22.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update busybox:1.38.0-uclibc docker digest to eea4ff5
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update kokuwaio/buildctl docker tag from v0.29.0 to v0.30.0
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update org.apache.maven.plugins:maven-surefire-plugin from 3.5.5 to 3.5.6
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to 112986d
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to c121e7d
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to e8ef73d
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update version.org.keycloak from 26.6.2 to 26.6.3
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update kokuwaio/just docker tag from 1.51.0 to 1.52.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update dependency org.sonatype.central:central-publishing-maven-plugin from 0.10.0 to 0.11.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update kokuwaio/just docker tag from 1.52.0 to 1.53.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update kokuwaio/buildctl docker tag from v0.30.0 to v0.31.0
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update kokuwaio/markdownlint docker tag from 0.48.0 to 0.49.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update kokuwaio/just docker tag from 1.53.0 to 1.54.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update kokuwaio/buildctl docker tag from v0.31.0 to v0.31.1
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update dependency org.keycloak:keycloak-core from 26.6.3 to 26.6.4
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update kokuwaio/just docker tag from 1.54.0 to 1.55.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update kokuwaio/just docker tag from 1.55.0 to 1.55.1
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to f86507c
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to 1ed5d1f
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update version.org.keycloak from 26.6.4 to 26.7.0
  pom.xml
Due: deploy, verify, image, versions

fix: changes by org.keycloak:keycloak-quarkus-dist 26.7.0
  .woodpecker/versions.yaml
  pom.xml
Due: deploy, lint, yaml, verify, image, versions

chore(deps): update kokuwaio/just docker tag from 1.55.1 to 1.56.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update kokuwaio/just docker tag from 1.56.0 to 1.57.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update kokuwaio/buildctl docker tag from v0.31.1 to v0.31.2
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update kokuwaio/markdownlint docker tag from 0.49.0 to 0.49.1
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update dependency org.apache.maven.plugins:maven-jar-plugin from 3.5.0 to 3.5.1
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update kokuwaio/renovate-config-validator docker tag from 43 to 44
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update kokuwaio/buildctl docker tag from v0.31.2 to v0.32.0
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update busybox:1.38.0-uclibc docker digest to 9ab52da
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update busybox:1.38.0-uclibc docker digest to 297dda1
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update kokuwaio/buildctl docker tag from v0.32.0 to v0.32.1
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update kokuwaio/just docker tag from 1.57.0 to 1.58.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to 42a78c9
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to 4015718
  Dockerfile
Due: deploy, lint, dockerfile

Path conditions:
  deploy: any of: .woodpecker/deploy.yaml, README.md, Dockerfile, pom.xml, src/main/**
  dockerhub: ((any of: .woodpecker/deploy.yaml, README.md, Dockerfile, pom.xml, src/main/**) and (any of: README.md)) or (any of: .woodpecker/dockerhub.yaml, README.md)
  lint: any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, renovate.json)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.yaml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.md, .markdownlint.yaml)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, Dockerfile)
  verify: any of: .woodpecker/verify.yaml, pom.xml, src/**
  image: any of: .woodpecker/verify.yaml, pom.xml, src/**
  versions: any of: .woodpecker/versions.yaml, pom.xml, src/**
