Repository kokuwaio/keycloak-event-metrics: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, dockerhub, lint, renovate, yaml, markdown, dockerfile, verify, image, versions

Path conditions:
  deploy: any of: .woodpecker/deploy.yaml, README.md, Dockerfile, pom.xml, src/main/**
  dockerhub: ((any of: .woodpecker/deploy.yaml, README.md, Dockerfile, pom.xml, src/main/**) and (any of: README.md)) or (any of: .woodpecker/dockerhub.yaml, README.md)
  lint: any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, renovate.json)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.yaml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.md, .markdownlint.yaml)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, Dockerfile)
  verify: any of: .woodpecker/verify.yaml, pom.xml, src/**
  image: any of: .woodpecker/verify.yaml, pom.xml, src/**
  versions: any of: .woodpecker/versions.yaml, pom.xml, src/**

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to e4a7ace
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update kokuwaio/buildctl docker tag from v0.25.2 to v0.26.0
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update kokuwaio/buildctl docker tag from v0.26.0 to v0.26.1
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update kokuwaio/renovate-config-validator docker tag from 41 to 42
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update kokuwaio/markdownlint docker tag from 0.45.0 to 0.46.0
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update kokuwaio/buildctl docker tag from v0.26.1 to v0.26.2
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

fix(dashboard): re-add grafana dashboard and fix readme link
  .justfile
  README.md
  keycloak-metrics.json
Due: deploy, dockerhub, lint, markdown

chore(deps): update version.org.keycloak from 26.4.5 to 26.4.6
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update busybox:1.37.0-uclibc docker digest to 731a53e
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update busybox:1.37.0-uclibc docker digest to e58014d
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update dependency org.apache.maven.plugins:maven-source-plugin from 3.3.1 to 3.4.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update dependency org.apache.maven.plugins:maven-resources-plugin from 3.3.1 to 3.4.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update version.org.keycloak from 26.4.6 to 26.4.7
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update dependency org.apache.maven.plugins:maven-release-plugin from 3.2.0 to 3.3.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update dependency org.apache.maven.plugins:maven-release-plugin from 3.3.0 to 3.3.1
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update busybox:1.37.0-uclibc docker digest to 9eab68f
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update busybox:1.37.0-uclibc docker digest to 48a4462
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update kokuwaio/markdownlint docker tag from 0.46.0 to 0.47.0
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update kokuwaio/buildctl docker tag from v0.26.2 to v0.26.3
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update maven docker tag from 3.9.11-eclipse-temurin-17 to 3.9.12-eclipse-temurin-17
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
  .woodpecker/versions.yaml
  Dockerfile
Due: deploy, lint, yaml, dockerfile, verify, image, versions

chore(deps): update version.org.keycloak from 26.4.7 to 26.5.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update busybox:1.37.0-uclibc docker digest to b31099d
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update busybox:1.37.0-uclibc docker digest to f2bd367
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update busybox:1.37.0-uclibc docker digest to 473b2c7
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update dependency org.sonatype.central:central-publishing-maven-plugin from 0.9.0 to 0.10.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update dependency net.revelc.code:impsort-maven-plugin from 1.12.0 to 1.13.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update maven:3.9.12-eclipse-temurin-17 docker digest to 0ae293c
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update version.org.keycloak from 26.5.0 to 26.5.1
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update maven:3.9.12-eclipse-temurin-17 docker digest to d3a07cc
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.12-eclipse-temurin-17 docker digest to 93582bd
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update version.org.keycloak from 26.5.1 to 26.5.2
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update maven:3.9.12-eclipse-temurin-17 docker digest to ad60c60
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update busybox:1.37.0-uclibc docker digest to 68fb61c
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update kokuwaio/yamllint docker tag from v1.37.1 to v1.38.0
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update kokuwaio/buildctl docker tag from v0.26.3 to v0.27.0
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update kokuwaio/buildctl docker tag from v0.27.0 to v0.27.1
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update dependency org.apache.maven.plugins:maven-compiler-plugin from 3.14.1 to 3.15.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update kokuwaio/renovate-config-validator docker tag from 42 to 43
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update maven:3.9.12-eclipse-temurin-17 docker digest to ba9eb78
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.12-eclipse-temurin-17 docker digest to 91e968f
  Dockerfile
Due: deploy, lint, dockerfile
