Repository kokuwaio/keycloak-event-metrics: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, dockerhub, lint, renovate, yaml, markdown, dockerfile, verify, image, versions

deploy:
  steps:
    maven:
      image: maven:3.9.11-eclipse-temurin-17
      commands: mvn deploy -Pdeploy --settings=.woodpecker/maven/settings.xml
      environment:
        MAVEN_GPG_KEY:
          from_secret: woodpecker_gpg_key
        SONATYPE_ORG_USERNAME:
          from_secret: sonatype_org_username
  ...

dockerhub:
  image: kokuwaio/dockerhub-metadata
  settings:
    repository: kokuwaio/keycloak-event-metrics
    description-short: Provides metrics for Keycloak user/admin events and user/client/session count.
    categories: monitoring-and-observability
    username:
      from_secret: dockerhub_username
    password:
  ...

lint:
  steps:
    renovate:
      image: kokuwaio/renovate-config-validator:41
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - renovate.json
    yaml:
      image: kokuwaio/yamllint:v1.37.1
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - '**/*.yaml'
  ...

renovate:
  image: kokuwaio/renovate-config-validator:41
  depends_on: []

yaml:
  image: kokuwaio/yamllint:v1.37.1
  depends_on: []

markdown:
  image: kokuwaio/markdownlint:0.45.0
  depends_on: []

dockerfile:
  image: kokuwaio/hadolint:v2.12.0
  depends_on: []

verify:
  steps:
    test:
      image: maven:3.9.11-eclipse-temurin-17
      commands: mvn verify --settings=.woodpecker/maven/settings.xml
    image:
      image: kokuwaio/buildctl:v0.24.0
      settings:
        platform:
        - linux/amd64
        - linux/arm64
      when:
        instance: ci.kokuwa.io

image:
  image: kokuwaio/buildctl:v0.24.0
  settings:
    platform:
    - linux/amd64
    - linux/arm64

versions:
  steps:
    test:
      image: maven:3.9.10-eclipse-temurin-17
      commands: mvn verify -Dversion.org.keycloak.test="$KEYCLOAK_VERSION" -P-deploy,-check
      environment:
        MAVEN_ARGS: --batch-mode --color=always --no-transfer-progress --settings=.woodpecker/maven/settings.xml

chore(deps): update kokuwaio/buildctl docker tag from v0.32.1 to v0.32.2
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update version.org.keycloak from 26.7.0 to 26.7.1
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update kokuwaio/hadolint docker tag from v2.14.0 to v2.15.1
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to 30fc717
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update version.org.keycloak from 26.7.1 to 26.7.2
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to b142037
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to dc96ef3
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to 9409564
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to bbcab0a
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to a8746f1
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update version.org.keycloak from 26.7.2 to 26.7.3
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update dependency org.apache.maven.plugins:maven-compiler-plugin from 3.15.0 to 3.16.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update kokuwaio/buildctl docker tag from v0.32.2 to v0.33.0
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update org.apache.maven.plugins:maven-surefire-plugin from 3.5.6 to 3.6.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to 880934a
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update dependency org.codehaus.mojo:tidy-maven-plugin from 1.4.0 to 1.4.1
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update dependency org.apache.maven.plugins:maven-install-plugin from 3.1.4 to 3.2.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update dependency org.apache.maven.plugins:maven-deploy-plugin from 3.1.4 to 3.2.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to 0af1de9
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to 1e539ad
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update version.org.keycloak from 26.7.3 to 26.7.4
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to 42a3ac3
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update busybox:1.38.0-uclibc docker digest to 71dfaf3
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to 44512ab
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update busybox:1.38.0-uclibc docker digest to b699b0c
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to d764acd
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to f1ab639
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update version.org.keycloak from 26.7.4 to 26.7.5
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update kokuwaio/buildctl docker tag from v0.33.0 to v0.33.1
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update maven:3.9.16-eclipse-temurin-17 docker digest to 1a35242
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update version.org.keycloak from 26.7.5 to 26.8.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update maven docker tag from 3.9.16-eclipse-temurin-17 to 3.10.0-eclipse-temurin-17
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
  .woodpecker/versions.yaml
  Dockerfile
Due: deploy, lint, yaml, dockerfile, verify, image, versions

chore(deps): update maven:3.10.0-eclipse-temurin-17 docker digest to c8e807d
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.10.0-eclipse-temurin-17 docker digest to 39410d4
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.10.0-eclipse-temurin-17 docker digest to d905d38
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.10.0-eclipse-temurin-17 docker digest to bafb2ff
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update kokuwaio/buildctl docker tag from v0.33.1 to v0.34.0
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

Path conditions:
  deploy: any of: .woodpecker/deploy.yaml, README.md, Dockerfile, pom.xml, src/main/**
  dockerhub: ((any of: .woodpecker/deploy.yaml, README.md, Dockerfile, pom.xml, src/main/**) and (any of: README.md)) or (any of: .woodpecker/dockerhub.yaml, README.md)
  lint: any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, renovate.json)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.yaml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.md, .markdownlint.yaml)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, Dockerfile)
  verify: any of: .woodpecker/verify.yaml, pom.xml, src/**
  image: any of: .woodpecker/verify.yaml, pom.xml, src/**
  versions: any of: .woodpecker/versions.yaml, pom.xml, src/**
