Repository kokuwaio/keycloak-event-metrics: changes, and which Woodpecker steps are due for each by the changed paths.
All: deploy, dockerhub, lint, renovate, yaml, markdown, dockerfile, verify, image, versions

deploy:
  steps:
    maven:
      image: maven:3.9.11-eclipse-temurin-17
      commands: mvn deploy -Pdeploy --settings=.woodpecker/maven/settings.xml
      environment:
        MAVEN_GPG_KEY:
          from_secret: woodpecker_gpg_key
        SONATYPE_ORG_USERNAME:
          from_secret: sonatype_org_username
  ...

dockerhub:
  image: kokuwaio/dockerhub-metadata
  settings:
    repository: kokuwaio/keycloak-event-metrics
    description-short: Provides metrics for Keycloak user/admin events and user/client/session count.
    categories: monitoring-and-observability
    username:
      from_secret: dockerhub_username
    password:
  ...

lint:
  steps:
    renovate:
      image: kokuwaio/renovate-config-validator:41
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - renovate.json
    yaml:
      image: kokuwaio/yamllint:v1.37.1
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - '**/*.yaml'
  ...

renovate:
  image: kokuwaio/renovate-config-validator:41
  depends_on: []

yaml:
  image: kokuwaio/yamllint:v1.37.1
  depends_on: []

markdown:
  image: kokuwaio/markdownlint:0.45.0
  depends_on: []

dockerfile:
  image: kokuwaio/hadolint:v2.12.0
  depends_on: []

verify:
  steps:
    test:
      image: maven:3.9.11-eclipse-temurin-17
      commands: mvn verify --settings=.woodpecker/maven/settings.xml
    image:
      image: kokuwaio/buildctl:v0.24.0
      settings:
        platform:
        - linux/amd64
        - linux/arm64
      when:
        instance: ci.kokuwa.io

image:
  image: kokuwaio/buildctl:v0.24.0
  settings:
    platform:
    - linux/amd64
    - linux/arm64

versions:
  steps:
    test:
      image: maven:3.9.10-eclipse-temurin-17
      commands: mvn verify -Dversion.org.keycloak.test="$KEYCLOAK_VERSION" -P-deploy,-check
      environment:
        MAVEN_ARGS: --batch-mode --color=always --no-transfer-progress --settings=.woodpecker/maven/settings.xml

chore(deps): update maven:3.9.12-eclipse-temurin-17 docker digest to e2532c6
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update version.org.keycloak from 26.5.2 to 26.5.3
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update busybox:1.37.0-uclibc docker digest to 23deb35
  Dockerfile
Due: deploy, lint, dockerfile

chore(ci): use external mirror domain
  .woodpecker/maven/settings.xml
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update org.apache.maven.plugins:maven-surefire-plugin from 3.5.4 to 3.5.5
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update maven:3.9.12-eclipse-temurin-17 docker digest to a0603aa
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update kokuwaio/markdownlint docker tag from 0.47.0 to 0.48.0
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update dependency org.apache.maven.plugins:maven-resources-plugin from 3.4.0 to 3.5.0
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update kokuwaio/buildctl docker tag from v0.27.1 to v0.28.0
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update version.org.keycloak from 26.5.3 to 26.5.5
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update maven docker tag from 3.9.12-eclipse-temurin-17 to 3.9.14-eclipse-temurin-17
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
  .woodpecker/versions.yaml
  Dockerfile
Due: deploy, lint, yaml, dockerfile, verify, image, versions

chore(deps): update maven:3.9.14-eclipse-temurin-17 docker digest to f55aa7d
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.14-eclipse-temurin-17 docker digest to dd8d62b
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.14-eclipse-temurin-17 docker digest to b9f3283
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.14-eclipse-temurin-17 docker digest to c3c2003
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update version.org.keycloak from 26.5.5 to 26.5.6
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update maven:3.9.14-eclipse-temurin-17 docker digest to 39a5260
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update busybox:1.37.0-uclibc docker digest to e3a499d
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update kokuwaio/buildctl docker tag from v0.28.0 to v0.28.1
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update kokuwaio/buildctl docker tag from v0.28.1 to v0.29.0
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: deploy, lint, yaml, verify, image

chore(deps): update version.org.keycloak from 26.5.6 to 26.5.7
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update maven:3.9.14-eclipse-temurin-17 docker digest to fc04f7f
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.14-eclipse-temurin-17 docker digest to 31910a7
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.14-eclipse-temurin-17 docker digest to 69cbc8e
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update version.org.keycloak from 26.5.7 to 26.6.0
  pom.xml
Due: deploy, verify, image, versions

fix: changes by org.keycloak:keycloak-quarkus-dist 26.6.0
  .woodpecker/versions.yaml
  README.md
  src/test/java/io/kokuwa/keycloak/metrics/KeycloakIT.java
Due: deploy, dockerhub, lint, yaml, markdown, verify, image, versions

chore(ci): add just linter, use mirror from env, fix keycloak warnings
  .justfile
  .woodpecker/deploy.yaml
  .woodpecker/lint.yaml
  .woodpecker/maven/settings.xml
  .woodpecker/release.yaml
  Dockerfile
Due: deploy, lint, renovate, yaml, markdown, dockerfile

chore(deps): update kokuwaio/just docker tag from 1.48.1 to 1.49.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update maven:3.9.14-eclipse-temurin-17 docker digest to 79e1739
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update version.org.keycloak from 26.6.0 to 26.6.1
  pom.xml
Due: deploy, verify, image, versions

chore(deps): update maven:3.9.14-eclipse-temurin-17 docker digest to 11261e7
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.14-eclipse-temurin-17 docker digest to 6e6af9d
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.14-eclipse-temurin-17 docker digest to cc868f5
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.14-eclipse-temurin-17 docker digest to 674de0d
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update kokuwaio/just docker tag from 1.49.0 to 1.50.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update maven docker tag from 3.9.14-eclipse-temurin-17 to 3.9.15-eclipse-temurin-17
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
  .woodpecker/versions.yaml
  Dockerfile
Due: deploy, lint, yaml, dockerfile, verify, image, versions

chore(deps): update maven:3.9.15-eclipse-temurin-17 docker digest to 036d1a6
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update maven:3.9.15-eclipse-temurin-17 docker digest to 527989c
  Dockerfile
Due: deploy, lint, dockerfile

chore(deps): update kokuwaio/just docker tag from 1.50.0 to 1.51.0
  .justfile
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

Path conditions:
  deploy: any of: .woodpecker/deploy.yaml, README.md, Dockerfile, pom.xml, src/main/**
  dockerhub: ((any of: .woodpecker/deploy.yaml, README.md, Dockerfile, pom.xml, src/main/**) and (any of: README.md)) or (any of: .woodpecker/dockerhub.yaml, README.md)
  lint: any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, renovate.json)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.yaml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, **/*.md, .markdownlint.yaml)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, Dockerfile, **/*.yaml, **/*.md) and (any of: .woodpecker/lint.yaml, Dockerfile)
  verify: any of: .woodpecker/verify.yaml, pom.xml, src/**
  image: any of: .woodpecker/verify.yaml, pom.xml, src/**
  versions: any of: .woodpecker/versions.yaml, pom.xml, src/**
