Repository kokuwaio/keycloak-event-metrics: changes, and which Woodpecker steps are due for each by the changed paths.
All: dockerhub, lint, renovate, yaml, markdown, dockerfile, verify, image

.woodpecker/dockerhub.yaml:

when:
  instance: ci.kokuwa.io
  repo: keycloak/keycloak-event-metrics
  event: [manual, push]
  branch: main
  path: [.woodpecker/dockerhub.yaml, README.md]

steps:

  metadata:
    image: kokuwaio/dockerhub-metadata
    settings:
      repository: kokuwaio/keycloak-event-metrics
      description-short: Provides metrics for Keycloak user/admin events and user/client/session count.
      categories: monitoring-and-observability
      username: {from_secret: dockerhub_username}
      password: {from_secret: dockerhub_password}

.woodpecker/lint.yaml:

when:
  event: [manual, pull_request, push]
  branch: main
  path: [.woodpecker/lint.yaml, renovate.json, Dockerfile, "**/*.y*ml", "**/*.md"]

steps:

  renovate:
    image: kokuwaio/renovate-config-validator
    depends_on: []
    when: [path: [.woodpecker/lint.yaml, renovate.json]]

  yaml:
    image: kokuwaio/yamllint
    depends_on: []
    when: [path: [.woodpecker/lint.yaml, .yamllint.yaml, "**/*.y*ml"]]

  markdown:
    image: kokuwaio/markdownlint
    depends_on: []
    when: [path: [.woodpecker/lint.yaml, .markdownlint.yaml, "**/*.md"]]

  dockerfile:
    image: kokuwaio/hadolint
    depends_on: []
    when: [path: [.woodpecker/lint.yaml, Dockerfile]]

.woodpecker/verify.yaml:

when:
  event: [manual, pull_request]
  path: [.woodpecker/verify.yaml, pom.xml, src/**]

services:
  - name: dockerd
    image: kokuwaio/dockerd
    privileged: true
    ports: [2375, 8080]

steps:

  test:
    image: maven:3.9.10-eclipse-temurin-17
    commands: mvn verify -P-deploy
    environment:
      MAVEN_ARGS: --batch-mode --color=always --no-transfer-progress --settings=.woodpecker/maven/settings.xml

  image:
    image: kokuwaio/buildctl
    settings:
      platform: [linux/amd64, linux/arm64]
    when:
      instance: ci.kokuwa.io

[maven-release-plugin] prepare release 2.0.0 [CI SKIP]
  pom.xml
Due: verify, image

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: verify, image

Rename to `kokuwaio/keycloak-event-metrics`
  .woodpecker/deploy.yaml
  .woodpecker/dockerhub.yaml
  .woodpecker/release.yaml
  README.md
  pom.xml
Due: dockerhub, lint, yaml, markdown, verify, image

Add Github README.
  .github/README.md
Due: lint, markdown

chore(deps): update dependency net.revelc.code.formatter:formatter-maven-plugin from 2.26.0 to 2.27.0
  pom.xml
Due: verify, image

chore: fix repo urls in `pom.xml`
  pom.xml
Due: verify, image

chore: fix renovate preset location
  renovate.json
Due: lint, renovate

chore: remove github actions
  .github/README.md
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .woodpecker/deploy.yaml
  .woodpecker/dockerhub.yaml
  .yamllint.yaml
  README.md
Due: dockerhub, lint, yaml, markdown

chore(deps): update dependency org.apache.maven.plugins:maven-gpg-plugin from 3.2.7 to 3.2.8
  pom.xml
Due: verify, image

test: fix expiring access tokens in ci
  src/test/java/io/kokuwa/keycloak/metrics/junit/KeycloakClient.java
  src/test/java/io/kokuwa/keycloak/metrics/junit/KeycloakExtension.java
Due: verify, image

chore(deps): update version.org.keycloak from 26.2.5 to 26.3.0
  pom.xml
Due: verify, image

chore(deps): update version.org.keycloak from 26.3.0 to 26.3.1
  pom.xml
Due: verify, image

chore: add woodpecker version tags
  .woodpecker/deploy.yaml
  .woodpecker/lint.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
  .woodpecker/versions.yaml
  renovate.json
Due: lint, renovate, yaml, markdown, dockerfile, verify, image

chore(deps): pin dependencies
  Dockerfile
Due: lint, dockerfile

chore(ci): skip deploy tasks on pull requests
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
  .woodpecker/versions.yaml
  pom.xml
Due: lint, yaml, verify, image

chore(deps): update maven:3.9.10-eclipse-temurin-17 docker digest to 4710911
  Dockerfile
Due: lint, dockerfile

chore(deps): update maven:3.9.10-eclipse-temurin-17 docker digest to ccda7c4
  Dockerfile
Due: lint, dockerfile

chore(deps): update maven:3.9.10-eclipse-temurin-17 docker digest to cdd737b
  Dockerfile
Due: lint, dockerfile

chore(deps): update maven docker tag from 3.9.10-eclipse-temurin-17 to 3.9.11-eclipse-temurin-17
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
  .woodpecker/versions.yaml
  Dockerfile
Due: lint, yaml, dockerfile, verify, image

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to 545e315
  Dockerfile
Due: lint, dockerfile

chore(deps): update version.org.keycloak from 26.3.1 to 26.3.2
  pom.xml
Due: verify, image

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to d404443
  Dockerfile
Due: lint, dockerfile

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to 52bfe5d
  Dockerfile
Due: lint, dockerfile

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to 8e57816
  Dockerfile
Due: lint, dockerfile

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to ff02cc2
  Dockerfile
Due: lint, dockerfile

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to 2480f37
  Dockerfile
Due: lint, dockerfile

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to 5ae5667
  Dockerfile
Due: lint, dockerfile

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to 6d04ffe
  Dockerfile
Due: lint, dockerfile

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to 2490f24
  Dockerfile
Due: lint, dockerfile

chore(deps): update busybox:1.37.0-uclibc docker digest to c292cc7
  Dockerfile
Due: lint, dockerfile

chore(deps): update busybox:1.37.0-uclibc docker digest to 4eb2a1e
  Dockerfile
Due: lint, dockerfile

chore(deps): update dependency org.apache.maven.plugins:maven-javadoc-plugin from 3.11.2 to 3.11.3
  pom.xml
Due: verify, image

chore(deps): update version.org.keycloak from 26.3.2 to 26.3.3
  pom.xml
Due: verify, image

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to 534be23
  Dockerfile
Due: lint, dockerfile

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to c51217a
  Dockerfile
Due: lint, dockerfile

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to 7cced56
  Dockerfile
Due: lint, dockerfile

chore(deps): update maven:3.9.11-eclipse-temurin-17 docker digest to d7d39e4
  Dockerfile
Due: lint, dockerfile

chore(deps): update kokuwaio/hadolint docker tag from v2.12.0 to v2.13.1
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile

chore(deps): update kokuwaio/buildctl docker tag from v0.23.2 to v0.24.0
  .woodpecker/deploy.yaml
  .woodpecker/release.yaml
  .woodpecker/verify.yaml
Due: lint, yaml, verify, image

chore(deps): update dependency net.revelc.code.formatter:formatter-maven-plugin from 2.27.0 to 2.28.0
  pom.xml
Due: verify, image
